# Basic ones
.DS_Store
/node_modules
/*.tgz
/coverage
/.nyc_output

# We're a library, so please, no lock files
/package-lock.json
/yarn.lock

# Generated types
*.d.ts
*.d.ts.map
*.d.cts
*.d.cts.map

# Library specific ones
